# * https://git-scm.com/docs/gitattributes
# * https://softwareengineering.stackexchange.com/a/367655/381493

# exclude from generated tarball
docs           export-ignore
screenshots    export-ignore
.gitattributes export-ignore
README.adoc    export-ignore
